* {

    /*Resetando as configurações*/
    margin: 0;
    padding: 0;
    font-family: 'PLUS Jakarta Sans';
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

@font-face {
    font-family: 'PLUS Jakarta Sans';
    src: url('PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
}


@media screen and (max-width: 767px) {
    body {
        overflow-x: hidden;
    }
}

body {
    font-family: 'PLUS Jakarta Sans';
    background: linear-gradient(180deg, #ffffff, #a2fcd7, #e1f9ff, #ffffff);
    background-size: 600% 600%;
    -webkit-animation: BGdegrade 10s ease infinite;
    -moz-animation: BGdegrade 10s ease infinite;
    animation: BGdegrade 10s ease infinite;
}

@-webkit-keyframes BGdegrade {
    0% {
        background-position: 50% 0%
    }

    50% {
        background-position: 50% 100%
    }

    100% {
        background-position: 50% 0%
    }
}

@-moz-keyframes BGdegrade {
    0% {
        background-position: 50% 0%
    }

    50% {
        background-position: 50% 100%
    }

    100% {
        background-position: 50% 0%
    }
}

@keyframes BGdegrade {
    0% {
        background-position: 50% 0%
    }

    50% {
        background-position: 50% 100%
    }

    100% {
        background-position: 50% 0%
    }
}

.container-geral {
    max-width: 1137px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

#logobg {
    background-color: rgba(255, 255, 255, 0.9);
    /* Branco com leve transparência */
    width: 100%;
}

.logo {
    text-align: center;
    margin: 0px 0 30px 0;
    padding: 10px 0;
}

h1,
h2,
h3,
h4 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'PLUS Jakarta Sans';
    color: #141b17;
}

h1 img {
    width: 8px;
    /* tamanho inicial da imagem */
    transition: width 0.5s ease-in-out;
    /* transição suave na mudança de largura */
    transition-delay: 0.5s;
    /* atraso de 0.5 segundos para iniciar a transição automaticamente */
}

h1 img:hover {
    width: 180px;
    /* Define o tamanho final da imagem quando o mouse passa sobre a imagem */
    transition-delay: 0s;
    /* Reinicia o atraso para 0 segundos quando o mouse passa sobre a imagem */
}

#transicao-imagem {
    transition: width 0.2s ease-in-out;
    /* Adiciona uma transição suave na mudança de largura */
}


h2 {
    font-size: 16px;
    font-weight: normal;
}

h3 {
    font-size: 24px;
    margin-top: 20px;
}

h4 {
    font-size: 14px;
    margin: 0px 0 5px 0;
}

.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in-out 0.2s;
}

.fade-in.show {
    opacity: 1;
}


/* Estilos gerais para as caixas */
.boxgeral {
    display: flex;
    flex-wrap: wrap;

}

/* Estilos para cada caixa individual */
.boxdest {
    box-sizing: border-box;
    width: 50%;
    /* As caixas ocuparão metade da largura quando estiverem lado a lado */
    padding: 20px;
}

/* Estilos específicos para telas pequenas */
@media (max-width: 767px) {
    .boxgeral {
        flex-direction: column;
        /* Em telas pequenas, os elementos ficarão empilhados verticalmente */
    }

    .boxdest {
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 5px 0 5px 0;
        /* Em telas pequenas, as caixas ocuparão a largura total */
    }

    .video-container {
        height: auto;
    }
}

.video-container {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    margin-bottom: 20px;
}

.video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.5);
    /* Branco com leve transparência */
    padding: 20px;
    /* Um espaçamento interno para melhorar a aparência */
    border-radius: 10px;
    /* Borda arredondada para suavizar a aparência */
    margin-bottom: 40px;

}

.form-container input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.form-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #2ecc71;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-container button:hover {
    background-color: #27ae60;
}

.btn-fale2 {
    display: block;
    margin: 30px auto;
    /* Centraliza o botão na página */
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #2ecc71;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-fale2:hover {
    background-color: #27ae60;
}

.btn-fale2 img {
    max-width: 20px;
    /* Ajuste conforme necessário */
    margin-right: 5px;
    /* Adiciona espaço entre a imagem e o texto */
}

.btn3 {
    display: block;
    margin: 30px auto;
    /* Centraliza o botão na página */
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #000000;
    color: #fff;
    cursor: none;
    transition: background-color 0.3s;
}


/* Estilos para telas pequenas */
@media (max-width: 767px) {
    .form-container {
        flex-direction: column;
        /* Em telas pequenas, os elementos ficarão empilhados verticalmente */
    }

    .form-container input,
    .form-container button {
        width: 100%;
    }

    .form-container button,
    .form-container input,
    .form-container .btn-falar {
        width: 100%;
        /* Os botões ocuparão a largura total em telas pequenas */
        margin-top: 10px;
        /* Espaçamento entre os botões empilhados */
    }
}


.highlights {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 40px 0 10px;
}

.highlight {
    flex: 1;
    text-align: center;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Adiciona uma sombra suave */
}

.highlight2 {
    flex: 1;
    text-align: center;
    margin-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 10px;
}

.highlight h2 {
    margin-bottom: 5px;
}

.highlight img {
    margin-bottom: 20px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
}

.footer div {
    flex: 1 1 calc(33.33% - 20px);
    text-align: center;
    margin: 20px 0;
    box-sizing: border-box;
}

.footer img {
    max-width: 100%;
}

.footer h3 {
    margin-bottom: 10px;
    font-size: 14px;
    color: #00cc66;
}

.footer p {
    font-size: 12px;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

#footerbg {
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
}

/* Adicionando regras para telas menores */
@media screen and (max-width: 767px) {
    .footer {
        padding: 20px 0;
        /* Adicionei um espaçamento vertical de 20px para separar os elementos */
    }

    .footer div {
        flex: 1 1 100%;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 767px) {
    .highlight {
        width: 100%;
    }
}


/*AppSocial*/
.btn_social { 

	width:100%; 
	float:left; 
	display:flex; 
	margin:auto; 
}

.btn_social ul  { 

	width:auto; 
	margin:auto; 
	float:left; 
	display:block; 
}

.btn_social ul li  { 

	position:relative; 
	background:#555555; 
	list-style:none; 
	float:left; 
	margin:5px; 
	z-index:1; 
	overflow:hidden; 
	border-radius:3px; 
	font-size:1.5em; 
	text-align:center; 
}

.btn_social ul li a  { 

	width:30px; 
	height:30px; 
	line-height:35px; 
	display:block; 
	text-decoration:none; 
	color:#fff; 
	transition:.4s;

}

.btn_social ul li::before { 

	transition:0.4s; 
	position:absolute; 
	content:''; 
	width:100%; 
	height:100%; 
	top:90%; 
	left:0; 
	background: #00cc66; 
	z-index:-1; 
	transform: scale(1); 
	transition:.4s; 
}

.btn_social ul li:hover::before { transition:0.4s; top:0%; }
.btn_social ul li a:hover       { color:#fff; }
/*App Social*/

/*600PX BREAKPOINT*/
/*600 dividido por 16 = 37,5em*/
@media (min-width:37em){


} 

/*768PX BREAKPOINT*/
/*768 dividido por 16 = 48em*/
@media (min-width:48em){


} 

/*960PX BREAKPOINT*/
/*960 dividido por 16 = 60em*/
@media (min-width:60em){

 .section-seu-codigo          { padding:20px 0px; }
 .section-seu-codigo .content { width:80%; padding:1em 0; margin:0 10%; }

.btn-download { width:35%; }

}

/*1280PX BREAKPOINT*/
/*1280 dividido por 16 = 80em*/
@media (min-width:80em){

 
}

/*1366PX BREAKPOINT*/
/*1366 dividido por 16 = 85,375em*/
@media (min-width:85em){

 .content  { width:80%; margin:0 10%; }

}

/*1600PX BREAKPOINT*/
/*1600 dividido por 16 = 100em*/
@media (min-width:100em){


}
/*Fecha o Responsivo*/


.btn-play {
    display: block;
    margin: auto;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: none;
    color: #000;
    font-family: 'PLUS Jakarta Sans';
}

.btn-play b {
    margin-right: 5px;
    /* Ajuste conforme necessário para o espaçamento entre o texto e a imagem */
}

.btn-play img {
    width: 15px;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background: url('../popup.png');
    background-size: contain;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    margin: 100px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #fff;
}

.close {
    color: #fff;
    float: right;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .popup {
        display: none !important;
        overflow-x: hidden;
    }
}

.form-container-chat {
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    border-radius: 10px;

}

